[buildout]
extends =
    http://svn.plone.org/svn/collective/buildout/plonetest/plone-4.2.x.cfg

package-name = abstract.simplemanagement

parts +=
    test
    omelette


[instance]
eggs +=
    Pillow


[test]
recipe = zc.recipe.testrunner
eggs =
    ${instance:eggs}
    abstract.simplemanagement [test]
defaults = ['-s', '${buildout:package-name}']


[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
