[buildout]
extends =
    http://svn.plone.org/svn/collective/buildout/plonetest/plone-4.2.x.cfg

package-name = abstract.simplemanagement

parts +=
    test
    omelette

giturl = git@github.com:

extensions =
    mr.developer

sources = sources
sources-dir = extras
auto-checkout = *
# always-checkout = true


[instance]
eggs +=
    Pillow
    plone.reload


[test]
recipe = zc.recipe.testrunner
eggs =
    ${instance:eggs}
    abstract.simplemanagement [test]
defaults = ['-s', '${buildout:package-name}']


[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}


[sources]
abstract.z3cform.usertokeninput = git git@github.com:abstract-open-solutions/abstract.z3cform.usertokeninput.git
