input[type="text"], input[type="password"], textarea {
    padding: 3px;
}

input::-webkit-input-placeholder {
    font-style: italic;
    color: #999;
}
input::-moz-placeholder {
    font-style: italic;
    color: #999;
}
input:-ms-input-placeholder {
    font-style: italic;
    color: #999;
}

a.danger-link,
a.danger-link:hover,
a.danger-link:visited {
    color: #c33;
}

#project-view {
    margin-top: 1em
}

.project-info-viewlet .project-name {
    font-size: 150%;
    font-weight: bold;
    line-height: 1.5em;
    color: #000000;
}

#project-iterations h2 {
    padding: .1em 0 .1em 1em;
    font-size: 120%;
    border-bottom: 1px solid #ccc;
    border-top:1px solid white;
    background: #eeeeee;
}

.pane {
    padding: 1em;
}

#overview .panes {
    clear: both;
    overflow: hidden;
    height: auto;
    min-height: 220px;
}


#overview .panes > div {
    border-color: #C8CACA;
    border-style: solid;
    border-width: 0 1px 1px;
    display: none;
    padding: 15px 20px;
    overflow-y: auto;
}

.portaltype-project.template-view #overview .panes {
    height: 220px;
}

.portaltype-project.template-view #overview .panes > div {
    height: 180px;
}

/* reset head for tabs in dashboard */
/*#overview .panes > div,
.template-dashboard #overview .panes {
}*/


#overview ul.tabs li {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#overview ul.tabs a:hover {
    color: black !important;
}

#overview ul.tabs a {
    background-color: #EEEEEE;
    border: 1px solid #C8CACA;
    border-width: 1px 1px 0;
    color: #777777;
    display: block;
    float: left;
    font-size: 13px;
    height: 18px;
    margin-right: 2px;
    outline: 0 none;
    padding: 5px 30px;
    position: relative;
    text-decoration: none;
    top: 1px;
}

#overview ul.tabs a.current {
    border-bottom: 1px solid white;
    background-color: white;
    color: #000000;
    cursor: default;
}

#overview ul.tabs {
    border-bottom: 1px solid #C8CACA;
    height: 30px;
    margin: 0 !important;
    padding: 0;
}


#overview {
    margin: 1em 0;
}

.project-details {
    float: left;
    width: 49%;
}

#iteration-dates {
    font-size: 125%;
}

#content-core table.listing {
    margin-bottom: 1em;
}

.booking {
    margin-top: 1em;
}

.booking .listing{
    font-size: 85%;
    width: 100%;
}
.booking .listing .booking-details .label{ font-size: 95% }
.booking .listing .booking-details .description{ display: none }

.booking .listing h4 {
    font-size: 110%;
}

.booking .listing .discreet {
    font-size: 100%
}

#booking-form {
    margin-top: 1em;
}

#booking-form .fieldErrorBox {
    display: inline;
}

#booking-form .errors .label {
    background: none repeat scroll 0 0 red;
    border-radius: 5px;
    color: white;
}
#booking-form .errors span {
    display: inline;
    font-weight: bold;
    margin-right: 10px;
    padding: 5px;
}
#booking-form .errors .error {
    padding: 2px 0px;
    border: none;
    margin: 5px 0;
}

#booking-form .field input[type="text"][name$=".title"],
#content #booking-form input.text-widget {
    line-height: 100%;
    font-size: 125%;
    width: 20em;
}

#content #booking-form input#form-widgets-time {
    width: 30px;
}

.inline-form > div{
    background: none repeat scroll 0 0 #EFEFEF;
    border: 2px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    padding: 5px 10px;
}

.inline-form .formControls,
.inline-form label,
.inline-form .field {
    display: inline;
}
.inline-form label {
    margin-right: 0.2em;
}
.inline-form .field {
    margin-right: 0.7em;
}

#content ul.stories {
    margin: 1.3em 0 0;
    list-style-type: none;
}

.story-container {
    border-bottom: 1px solid #E1E1E1;
    border-right: 1px solid #E1E1E1;
    border-top: 1px solid #E1E1E1;
    list-style-type: none;
    margin: 0 0 5px;
    min-height: 33px;
    padding: 3px 3px 3px 10px;
    position: relative;
    display: list-item;
}


.sortable .handle,
.sortable .story-container {
    cursor: move;
}

.story-container > div {
    cursor: default;
    background-color: white;
}

ul.stories .todo {
    border-left: 6px solid #444444;
}

ul.stories .done {
    border-left: 6px solid #8DC73E;
}

ul.stories .in_progress {
    border-left: 6px solid #448CCA;
}

ul.stories .suspended {
    border-left: 6px solid #FF7F0E;
}

.ui-sortable-placeholder {
    border: 1px dotted black !important;
    visibility: visible !important;
    height: 20px !important;
    background-color: #FEF9DD;
}

.ui-sortable-placeholder * {
    visibility: hidden;
}


.portaltype-story .timing {
    border: 1px solid #C8CACA;
}
.story-block .timing {
    width: 20em;
}
.timing {
    border: 1px solid #C8CACA;
    float: right;
    margin-right: -4px;
    margin-top: -4px;
    margin-left: 1em;
    vertical-align: middle;
}

.timing th {
    color: #666666
}
.timing td,
.timing th {
    border-left: 1px solid #C8CACA;
    padding: .2em;
    background-color: #DDDDDD;
}

.timing td {
    border-top: 1px solid #C8CACA;
    text-align: right;
    background-color: white;
}

.timing td.danger {
    background-color: red;
    color: white;
}

.timing td.success {
    background-color: #75AD0A;
    color: white;
}

.timing td.warning {
    background-color: yellow;
}

.timing td.estimate {
    width: 55px;
}
.timing td.actual_hours {
    width: 85px;
    text-align: right;
}
.timing td.difference {
    width: 65px;
}

.totals {
    margin-top: 1em;
}
.totals .timing {
    margin-right: 0px;
    margin-top: 0px;
}

.totals-label {
    vertical-align: bottom
}

.assignees-container .assignees {
    display: inline
}

.assignees-container .assignees li {
    display:inline !important;
    margin-right: .5em;
}


#content ul.assignees {
    list-style-type: none;
    margin-left: 0;
}

.extra-details {
    margin-top: 1em;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


ul.stories .actions {
    float: right;
    margin: .5em 0 0;
}

.story-container.copy {
    cursor: copy;
}

#content a.status,
#content a.iteration,
#content a.quickedit,
#content a.quick-booking,
#content a.story-quickview {
    background: transparent url('../img/pencil.png') no-repeat;
    border: 0 none !important;
    display: block;
    float: left;
    height: 16px;
    margin-left: 0.3em;
    overflow: hidden;
    width: 16px;
}

.template-quickedit #portal-column-content {
    margin-left: -98.875%;
    width: 96.75%;
    padding: .5em;
}

#content a.story-quickview {
    background-image: url('../img/magnifier.png');
}

#content a.quick-booking {
    background-image: url('../img/booking.png');
}

#content a.status {
    background-image: url('../img/tag_red.png');
}

#content a.iteration {
    background-image: url('../img/iteration.png');
}

#content a.status span,
#content a.iteration span,
#content a.story-quickview span,
#content a.quick-booking span,
#content a.quickedit span {
    padding: 20px;
}

.story-text {
    margin: .6em 0;
}
.stories dl.collapsible {
    border: 1px solid #ddd;
}

.booking .listing dl.collapsible {
    border:0 !important;
}

.stories dl.collapsedBlockCollapsible {
    border:0;
    background-color: transparent;
}

.booking-details {
    width: 350px;
}

.booking .listing dl.collapsible dd.collapsibleContent,
.stories dl.collapsible dd.collapsibleContent {
    margin:0 !important;
}

.booking .listing dl.collapsible dt.collapsibleHeader {
    background-color: transparent;
    margin-left: 0;
}

.stories dl.collapsible dt.collapsibleHeader {
    margin-left: 0;

}

.comments-container {
    margin-bottom: 1em;
}
.comments-container .comment {
    font-size: 100%;
    margin-top: .5em;
    border: 1px solid #ddd;
}

.comment-autor {
    float: left;
    margin: 4px;
    padding: 4px;
    width: 100px;
}

.comment-text {
    margin-left: 120px;
    padding: 4px;
    border-left: 1px solid #ddd;
    min-height: 50px;
}

.tooltip {
    display: none;
    background: white;
    border: 1px solid #bbb;
    padding: 0.2em 0.2em 0.2em 0.5em;
    box-shadow: 0.1em 0.1em 0.3em #777;
    font-size: 80%;
    z-index: 10000;
    border-radius: 5px;
}

.tooltip .wrapper {
    position: relative;
}

.tooltip .wrapper .notch {
    position: absolute;
    top: -0.64em;
    right: 2em;
    margin: 0;
    border-top: 0;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-bottom: 0.5em solid white;
    padding: 0;
    width: 0;
    height: 0;
}

.tooltip .wrapper .notch-bottom {
    position: absolute;
    bottom: -1.1em;
    right: 1em;
    margin: 0;
    border-top: 0.5em solid white;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-bottom: 0.5em solid transparent;
    padding: 0;
    width: 0;
    height: 0;
}


.tooltip .wrapper .notch-bottomleft {
    position: absolute;
    bottom: -1.1em;
    left: 1em;
    margin: 0;
    border-top: 0.5em solid white;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-bottom: 0.5em solid transparent;
    padding: 0;
    width: 0;
    height: 0;
}

.tooltip .wrapper .notch-right {
    position: absolute;
    right: -2.5em;
    top: 50%;
    border-left: 0.5em solid white;
    border-right: 0.5em solid transparent;
    border-top: 0.5em solid transparent;
    border-bottom: 0.5em solid transparent;
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
}

.tooltip a {
    padding: 0 .2em;
    line-height: 25px;
}

.tooltip .disable {
    color: #dddddd;
}

.tooltip a.close{
    padding: 8px;
    background: url('../img/close-16x16.png') no-repeat center center;
    display: block;
    float: right;
    height: 16px;
    padding: 0;
    padding: 4px;
    width: 16px;
}

.tooltip .ch_iteration {
    white-space: nowrap;
}
/*.tooltip .ch_iteration a.close {
    float: right;
}
*/
#dashboard ul.details {
    font-size: 85%;
    list-style-type: none;
    margin:0;
}

.more-tasks {
    float: right;
    margin: 1em .2em 0 0;
}

.simplemanagement-planner ul.sortable {
    min-height: 15px;
}

.link-parent.visualNoPrint {
    float: right;
}

table.stories {
    width: 100%;
}

table.stories caption {
    font-size: 130%;
    font-weight: bold;
    margin-bottom: 0.2em;
    text-align: left;
}

table.stories tfoot td {
    font-size: 110%;
    background-color: #DDDDDD;
}

td.numeric-data {
    text-align: right;
}

table.stories tbody tr td.numeric-data {
    width: 3em;
}

table.stories tbody tr td.info {
    width: 7em;
}

table.stories tbody tr td.actions {
    width: 100px;
}

.dashboard-actions {
    width: 80px;
}


#tickets-listing tbody tr.ticket td.handle,
table.stories tbody tr.story td.handle {
    width: .5em;
    padding: 0.8em .4em 0 .4em;
    border: 2px solid white;
    border-width: 2px 0;
    font-size: 50%
}

table.stories tbody tr.story td.handle.todo {
    background-color: #444444;
    color: #444444;
}

table.stories tbody tr.story td.handle.done {
    background-color: #8DC73E;
    color: #8DC73E;
}

table.stories tbody tr.story td.handle.in_progress {
    background-color: #448CCA;
    color: #448CCA;
}

table.stories tbody tr.story td.handle.suspended {
    background-color: #FF7F0E;
    color: #FF7F0E;
}

table.stories.sortable tbody tr.story td.handle.todo {
    color: #FFFFFF;
}

table.stories.sortable tbody tr.story td.handle.done {
    color: #FFFFFF;
}

table.stories.sortable tbody tr.story td.handle.in_progress {
    color: #FFFFFF;
}

table.stories.sortable tbody tr.story td.handle.suspended {
    color: #FFFFFF;
}

table.stories td.data.danger,
table.stories td.data.success,
table.stories td.data.warning {
    font-weight: bold;
}

table.stories td.data.danger {
    color: #ff4420;
}

table.stories td.data.success {
    color: #75AD0A;
}

table.stories td.data.warning {
    color: #f17e03;
}

#booking-tooltip-form {
    display: none;
}
.template-dashboard #missed-bookings{
    overflow: hidden;
    width: 826px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.template-dashboard #missed-bookings .booking-hole{
    font-size:120%;
}
.template-dashboard #missed-bookings .booking-hole .booking-date{
    font-weight: bold;
}
.template-dashboard #missed-bookings .booking-hole *{
    vertical-align: middle;
}
/*.template-dashboard #missed-bookings{
    overflow: hidden;
    width: 50%;
}*/
.alert-top{
    border: 2px solid #00008D;
    border-radius: 10px;
    padding: 10px;
}
.alert-top h2{
    color:white;
    background-color: #FF7700;
    border-radius: 10px;
    padding: 5px 10px;
}

.claim{
    font-weight: bold;
    padding: 5px 10px;
}

#worklog {
    margin: 20px;
}

#worklog > * {
    opacity: 0;
}

#worklog .resources {
    background: #ddd;
    margin: 10px 0px;
    padding: 20px;
    border-radius: 3px;
}

#worklog .resources ul {
    list-style-type: none;
}

#worklog .resources ul li label img {
    height: 24px;
}

#worklog .resources li {
    background: none repeat scroll 0 0 #FFF;
    border-radius: 5px ;
    display: inline-block !important;
    margin-right: 4px;
    padding: 2px 5px;
}

#worklog .calendar {
    position: relative;
}

#worklog .calendar a.previous,
#worklog .calendar a.next {
    text-indent: -10000em;
    overflow: hidden;
    height: 1em;
    width: 1em;
    display: inline-block;
    text-decoration: none;
}

#worklog .calendar a.previous {
    background: url('../img/go-previous.png')  2px 4px no-repeat;
}

#worklog .calendar a.next {
    background: url('../img/go-next.png') 2px 4px no-repeat;
}

#worklog .calendar table {
    width: 100%;
    margin-top: 7px;
}

#worklog .calendar table td.resource-info img {
    height: 24px;
}

#worklog .calendar table tr.week-start {
    border-top: 1px solid #ccc;
}

.tooltip .booking-details {
    width: auto;
}

.tooltip .booking-details table {
    width: 100%;
}

.tooltip.booking-form {
    padding: 1.5em;
}

.no-data {
    display: none
}

table#tickets-listing {
    border-collapse: separate;
}
.severity-Low {
    border-left: 8px solid green;
}
.severity-Medium {
    border-left: 8px solid orange;
}
.severity-Critical {
    border-left: 8px solid red;
}
.severity-Important {
    border-left: 8px solid orange;
}

.state-unconfirmed {
    color: red;
}
.state-in-progress {
    color: orange;
}
.state-open {
    color: orange;
}

/* Add story form */

#addstory-container { margin: 15px 0 }
#addstory-container h3 {
    background: none repeat scroll 0 0 white;
    float: left;
    margin-left: 10px;
    margin-top: -20px;
    padding: 10px;
}

#addstory-container div.formControls{
    float: right;
    margin-top: -40px;
}

.clearfix.simplemanagement-addstory {
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 10px;
    width: 70%;
}

#addstory-form {
    padding: 0 1.2em 0 1em;
    margin: 0 0 1em 0;
}

#addstory-form p.discreet,
.portaltype-project #plone-document-byline{ display: none !important }

#addstory-form .created {
    background-color: green;
    border-radius: 5px;
    color: white;
    margin-bottom: 10px;
    margin-top: 25px;
    padding: 5px;
}
#addstory-form .created a{
    color: white !important;
    margin-left: 10px;
    display: inline-block;
}

/*#project-view #addstory-form { display: none }*/

#content a.btn {
    display: inline-block;
    padding: 0.3em 0.5em;
    background-color: #ddd;
    background-image: linear-gradient(to bottom, #eee, #ddd 85%, #ccc);
    border: 1px solid #999;
    color: #333 !important;
    border-radius: 5px;
    cursor: pointer;
}

#content table.listing a.btn {
    border: 1px solid #999 !important;
}

#content a.btn:hover {
    color: white !important;
    background-color: #bbbbbb;
    background-image: linear-gradient(to bottom, #bbbbbb, #999999);
}

.employees-form-wrapper label {
    display: inline-block;
    padding: 0.3em 1em 0.3em 0;
}

.data-column {
    text-align: right;
}


#content #planning fieldset {
    border: 0;
}

#sm-personal-tools{
    position: absolute;
    top:0;
    left: 44%;
}
#sm-personal-tools ul li{
    display: inline;
    text-transform: uppercase;
}
#sm-personaltools-dashboard{
    background-color: #FF7700;
    padding: 0px 10px 4px 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
#sm-personaltools-dashboard a{
    padding-top:4px;
    color: white;
}

.tooltip .ch_iteration li{
    display: block;
}

.report-view .total { font-weight: bold }
.report-view table.summary {
    margin-bottom: 30px !important;
}
.report-view .results dl.collapsible{
    font-size: 110%;
    border: none;
}
.report-view .results dl.collapsible dt{
    margin-left: 0;
}
.report-view .results dl.collapsible dt.collapsibleHeader{
    background-color: #EEEEEE;
    font-size: 120%;
    padding: 10px 10px 10px 38px;
}
.report-view .results dl.collapsible dt.collapsibleHeader,
.report-view .results .collapsibleContent {
    width: 200px;
}
.report-view .results .collapsibleContent {
    margin-left: 24px !important;
}
.report-view .results .total {
    float: right;
}
.report-view .results .month .total {
}
.report-view .results .week .total {
}
.report-view form{
    display: inline;
}

.project-actions {
    margin-bottom: 1em;
}

#project-documents ul,
#project-dates ul,
#project-last-activities ul {
    list-style-type: none;
}

/**
 * Compass
 */

.dismiss {
    font-size: 150%;
}

.thumbnail {
    float: left;
    margin: 3px;
    width: 65px;
    height: 65px;
    position: relative;
    background-size: 100% auto;
}
.thumbnail .title {
    color: #fff;
    font-size: 0.9em;
    position: absolute;
    bottom: 0px;
    text-align: center;
    background: #333;
    width: 100%;
    display: block;
    height: 1.5em;
    overflow: hidden;
}
.thumbnail.placeholder {
    outline: 1px dashed #777;
    transition: outline 0.5s linear, background-color 0.3s linear;
    -webkit-transition: outline 0.5s linear, background-color 0.3s linear;
    -moz-transition: outline 0.5s linear, background-color 0.3s linear;
}
.thumbnail.placeholder.removePerson:after,
.thumbnail.placeholder.addPerson:after {
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s linear;
    -webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
}
.thumbnail.placeholder.removePerson.dropok:after,
.thumbnail.placeholder.addPerson.dropok:after {
    opacity: 1;
}
.thumbnail.placeholder.removePerson:after {
    font-size: 35px;
    top: 22px;
    left: 17px;
    content: "\2716";
}
.thumbnail.placeholder.removePerson.dropok {
    outline: 2px solid #c55;
}
.thumbnail.placeholder.removePerson.dropok:after {
    color: #c55;
}
.thumbnail.placeholder.removePerson.dropok.dropover {
    background-color: #f88;
}
.compass .project > .people .thumbnail.placeholder.addPerson {
    cursor: default;
}
.thumbnail.placeholder.addPerson:after {
    font-size: 30px;
    top: 20px;
    left: 16px;
    content: "\271a";
}
.thumbnail.placeholder.addPerson.dropok {
    outline: 2px solid #5fb221;
}
.thumbnail.placeholder.addPerson.dropok.dropover {
    background-color: #8fe554;
}
.thumbnail.placeholder.addPerson.dropok:after {
    color: #5fb221;
}
.thumbnail.thumbnail-small {
    width: 60px;
    height: 60px;
    margin: 6px 3px;
}
input.filter-data {
    margin-left: 3px;
    margin-bottom: 3px;
}
input[name="filter-people"] {
    width: 205px;
}
.compass .project {
    height: 130px;
    width: 100%;
    clear: both;
    margin-bottom: 1em;
}
.compass .project > div {
    float: left;
}
.compass .project > .status-indicator {
    width: 1.3em;
    background-color: #777;
    height: 100%;
    text-align: center;
}
#content .compass .project > .status-indicator a,
#content .compass .project > .status-indicator span {
    color: #fff;
    border-bottom: none;
    font-weight: bold;
}
#content .compass .project > .status-indicator a {
    opacity: 0.5;
}
#content .compass .project > .status-indicator a:hover {
    color: #fff !important;
    opacity: 1.0;
}
#content .compass .project > .status-indicator a:visited {
    color: #ccc;
}
.compass .project > .info,
.compass .project > .people {
    margin-left: 0.5em;
    height: 100%;
}
#content .compass .project > .info textarea.notes {
    width: 45em;
    height: 4em;
}
#content .compass .project > .info div.notes {
    width: 45em;
    height: 6em;
    overflow-y: auto;
}
#content .compass .project > .info .effort .date {
    font-style: italic;
    border: none;
    font-size: 1em;
    padding: 0em;
}
.compass .project > .people {
    width: 420px;
}
.compass .project > .people .thumbnail {
    cursor: pointer;
}

.wrapper.resource-drawer {
    margin: 0px;
    padding: 3px 8px 3px 0px;
}

.wrapper.resource-drawer > div {
    margin: 2px;
    width: 100%;
}

.wrapper.resource-drawer > div > select {
    width: 100%;
}

.wrapper.resource-drawer > div > span {
    margin-left: 2px;
}

input.effort {
    text-align: right;
    width: 2.5em;
}

.critical-resources .thumbnail.person span.effort,
.compass .project > .people .thumbnail.person span.effort {
    position: absolute;
    display: block;
    height: 1.5em;
    top: -0.7em;
    background: #333;
    color: #fff;
    border-radius: 0.5em;
    text-align: center;
    min-width: 1.5em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    left: -0.3em;
}
.critical-resources .thumbnail.person span.effort,
.compass .project > .people .thumbnail.person span.effort.critical {
    background: #c33;
}
.compass .project > .info .effort {
    margin-top: 0.3em;
}
.compassview .control {
    text-align: right;
    padding: 0.5em;
    background-color: #ddd;
}
.compassview .control > * {
    margin-left: 1em;
    vertical-align: middle;
}
.compassview .control .plan-length {
    display: inline-block;
    text-align: left;
}
.compassview .control .plan-length span {
    float: right;
}
.compassview .control .plan-length input[type="range"] {
    display: block;
    width: 10em;
}
#content .compassview .ui-draggable-dragging {
    z-index: 1000;
}

#content .compassview .messages {
    position: fixed;
    top: 0.5em;
    right: 0.5em;
    z-index: 1000;
}

#content .compassview .messages .message {
    padding: 0.5em;
    border-radius: 5px;
    border: 2px solid #fff;
    background-style: solid;
    padding: 0px;
    margin-bottom: 0.5em;
    font-size: 100%;
    overflow: hidden;
    width: 300px;
}

#content .compassview .messages .message > * {
    display: block;
    padding: 5px;
    float: left;
}

#content .compassview .messages .message > div.content {
    width: 265px;
    border-right: 1px solid #fff;
}

#content .compassview .messages .message a.dismiss {
    color: #fff;
    border-bottom: 0px none;
    opacity: 0.8;
    font-size: 150%;
}

#content .compassview .messages .message a.dismiss:hover,
#content .compassview .messages .message a.dismiss:visited {
    color: #fff !important;
    border-bottom: none !important;
    opacity: 1;
}

#content .compassview .messages .message.info {
    background-color: #336bca;
    color: #fff;
}

#content .compassview .messages .message.error {
    background-color: #c33;
    color: #fff;
}

#content .compassview .messages .message.warning {
    background-color: #f70;
    color: #fff;
}

#deletePopup,
#newProjectPopup {
    display: none;
}

#deletePopup .pb-ajax,
#newProjectPopup .pb-ajax {
    padding: 1em;
}

#newProjectPopup .pane-container {
    width: 80em;
    height: 40em;
    clear: both;
}

#newProjectPopup .pane-container .pane {
    border: 0px;
    margin: 0px;
    padding: 0px;
    width: 38em;
    float: left;
    height: 90%;
}

#newProjectPopup .pane-container .pane.right {
    margin-right: 0.5em;
    border-right: 1px solid #ccc;
    box-sizing: content-box;
}

#newProjectPopup .pane-container .pane.left {
    margin-left: 0.5em;
}

#newProjectPopup .projects > div {
    padding: 4px;
    margin-top: 4px;
    margin-right: 4px;
    border: 1px solid #ccc;
    display: block;
    background-color: #fff;
}

#newProjectPopup .projects {
    font-size: 130%;
}

#newProjectPopup .projects > div {
    color: #333;
}

#newProjectPopup .projects.disabled > div {
    color: #999;
}

#newProjectPopup .projects > div span.status {
    float: left;
    display: block;
    width: 12px;
    height: 42px;
    margin-right: 4px;
    border-radius: 2px;
}

#newProjectPopup .projects.disabled > div span.status {
    background-color: #ddd;
}

#newProjectPopup .projects > div h5 {
    font-size: 120%;
}

#newProjectPopup .projects.disabled > div h5 {
    color: #999;
}

#newProjectPopup .projects > div p {
    margin-bottom: 0px;
}

#newProjectPopup .projects > div button {
    float: right;
    margin-top: -35px;
}

.infinite-scroll-wrapper {
    overflow-y: auto;
    height: 100%;
}

#newProjectPopup .infinite-scroll-wrapper {
    height: 89%;
}

#newProjectPopup .filter-data {
    width: 95%;
    margin-bottom: 5px;
}

.horizontal-form {
    position: relative;
}

.horizontal-form .field-group {
    padding: 5px;
}

.horizontal-form .field-group > .field-element {
    width: 100%;
    clear: both;
    overflow: hidden;
}

.horizontal-form .field-group > .field-element > * {
    display: block;
    float: left;
}

.horizontal-form .field-group > .field-element label {
    width: 20%;
    padding-right: 5px;
}

.horizontal-form .field-group > .field-element input {
    width: 20%;
}

.horizontal-form .field-group > .field-element input:last-child {
    width: 75%;
}

.horizontal-form .field-group > .field-element span.postfix {
    width: 50%;
    padding-left: 5px;
}

.horizontal-form .field-group.has-errors > .field-element label,
.horizontal-form .field-group.has-errors > .field-element span.postfix {
    color: #f55;
}

.horizontal-form .field-group.has-errors .field-validation {
    width: 100%;
    background-color: #f55;
    text-indent: 6px;
    color: #fff;
    margin-top: 5px;
    border-radius: 4px;
}

.horizontal-form .formControls {
    text-align: right;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

#newProjectPopup .horizontal-form .formControls a {
    display: inline;
}

#newProjectPopup .horizontal-form {
    margin-top: 5px;
    font-size: 130%;
    height: 100%
}

#newProjectPopup .horizontal-form.disabled .field-group > .field-element > * {
    color: #ccc;
}

#content .compassview .addProject {
    display: block;
    height: 2.5em;
    text-align: center;
    color: #777;
    font-weight: bold;
    font-size: 130%;
    padding: 1.2em 2em 0em 2em;
    border: 1px dashed #777;
}

#content .compassview .addProject:before {
    content: "\271a";
    font-size: 100%;
    margin-right: 5px;
}

#content .compassview .addProject:hover {
    color: #333 !important;
    border: 1px solid #333;
}

#content .compassview .bottom-pane {
    clear: both;
    margin-top: 2em;
}

#content .compassview .bottom-pane .totals {
    float: left;
    margin-right: 1em;
    width: 15em;
    margin-top: 0em;
    clear: both;
}

#content .compassview .bottom-pane .totals p.huge-number {
    font-size: 350%;
    font-weight: bold;
    color: #444;
    line-height: 1.3em;
    margin: 0em;
    float: left;
}

#content .compassview .bottom-pane .totals p.postfix {
    float: left;
    margin-left: 1em;
    margin-top: 0.7em;
    display: block;
    width: 4em;
}

#content .compassview .bottom-pane .critical-resources {
    margin-top: 0.5em;
}

#deletePopup {
    font-size: 120%;
}

#deletePopup form.formControls {
    width: 100%;
    text-align: right;
}

#deletePopup form.formControls > * {
    display: inline-block;
    margin-left: 1em;
}

#content .compassview ul.snapshots {
    list-style-type: none;
    margin-left: 0px;
}

#content .compassview ul.snapshots li {
    padding: 0.4em 0.8em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#content .compassview ul.snapshots li a,
#content .compassview ul.snapshots li a:hover,
#content .compassview ul.snapshots li a:visited {
    color: #333 !important;
    border-bottom: none !important;
    text-decoration: none;
}

#content .compassview ul.snapshots li.active {
    border: none;
    background-color: #448aca;
    color: #fff;
}

#content .compassview ul.snapshots li.active a,
#content .compassview ul.snapshots li.active a:hover
#content .compassview ul.snapshots li.active a:visited {
    color: #fff !important;
}

#peopleToolbox {
    background-color: #fff;
    z-index: 200;
}

.saved-by-avatar {
    height: 25px;
}

/* project states */
#plone-contentmenu-workflow .state-planning,
.compassview .state-planning,
#newProjectPopup .state-planning {
    background-color: #444;
}
#plone-contentmenu-workflow .state-offer,
.compassview .state-offer,
#newProjectPopup .state-offer {
    background-color: #8dc73e;
}
#plone-contentmenu-workflow .state-development,
.compassview .state-development,
#newProjectPopup .state-development {
    background-color: #5ab71e;
}
#plone-contentmenu-workflow .state-maintenance,
.compassview .state-maintenance,
#newProjectPopup .state-maintenance {
    background-color: #448cca;
}
#plone-contentmenu-workflow .state-closed,
.compassview .state-closed,
#newProjectPopup .state-closed {
    background-color: #eb9b12;
}
#plone-contentmenu-workflow .state-dead,
.compassview .state-dead,
#newProjectPopup .state-dead {
    background-color: #540054;
}
