#project-view {
    margin-top: 1em
}

#project-iterations h2 {
    padding: .1em 0 .1em 1em;
    font-size: 120%;
    border-bottom: 1px solid #ccc;
    border-top:1px solid white;
    background: #eeeeee;
}

.pane {
    padding: 1em;
}

#overview .panes {
    clear: both;
    height: 220px;
    overflow: hidden;
}

#overview .panes > div {
    border-color: #C8CACA;
    border-style: solid;
    border-width: 0 1px 1px;
    display: none;
    height: 180px;
    padding: 15px 20px;
    overflow-y: auto;
}


#overview ul.tabs li {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#overview ul.tabs a:hover {
    color: black !important;
}

#overview ul.tabs a {
    background-color: #EEEEEE;
    border: 1px solid #C8CACA;
    border-width: 1px 1px 0;
    color: #777777;
    display: block;
    float: left;
    font-size: 13px;
    height: 18px;
    margin-right: 2px;
    outline: 0 none;
    padding: 5px 30px;
    position: relative;
    text-decoration: none;
    top: 1px;
}

#overview ul.tabs a.current {
    border-bottom: 1px solid white;
    background-color: white;
    color: #000000;
    cursor: default;
}

#overview ul.tabs {
    border-bottom: 1px solid #C8CACA;
    height: 30px;
    margin: 0 !important;
    padding: 0;
}


#overview {
    margin: 1em 0;
}

.project-details {
    float: left;
    width: 49%;
}

#iteration-dates {
    font-size: 125%;
}

#content-core table.listing {
    margin-bottom: 1em;
}

.booking {
    margin-top: 1em;
}

.booking .listing{
    font-size: 85%;
    width: 100%;
}

.booking .listing h4 {
    font-size: 110%;
}

.booking .listing .discreet {
    font-size: 100%
}

#booking-form {
    margin-top: 1em;
}

#booking-form label,
#booking-form .field {
    float: left;
    clear: none;
    margin-right: 1em;
}

#booking-form .fieldErrorBox {
    display: inline;
}

#booking-form .field input[type="text"][name$=".title"],
#content #booking-form input.text-widget {
    line-height: 100%;
    font-size: 100%;
    width: 20em;
}

#content #booking-form input#form-widgets-time {
    width: 30px;
}

#content ul.stories {
    margin: 1.3em 0 0;
    list-style-type: none;
}

.story-container {
    border-bottom: 1px solid #E1E1E1;
    border-right: 1px solid #E1E1E1;
    border-top: 1px solid #E1E1E1;
    list-style-type: none;
    margin: 0 0 5px;
    min-height: 33px;
    padding: 3px 3px 3px 10px;
    position: relative;
    display: list-item;
}


.sortable .handle,
.sortable .story-container {
    cursor: move;
}

.story-container > div {
    cursor: default;
    background-color: white;
}

ul.stories .todo {
    border-left: 6px solid #444444;
}

ul.stories .done {
    border-left: 6px solid #8DC73E;
}

ul.stories .in_progress {
    border-left: 6px solid #448CCA;
}

ul.stories .suspended {
    border-left: 6px solid #FF7F0E;
}

.ui-sortable-placeholder {
    border: 1px dotted black !important;
    visibility: visible !important;
    height: 20px !important;
    background-color: #FEF9DD;
}

.ui-sortable-placeholder * {
    visibility: hidden;
}


.portaltype-story .timing {
    border: 1px solid #C8CACA;
}
.story-block .timing {
    width: 20em;
}
.timing {
    border: 1px solid #C8CACA;
    float: right;
    margin-right: -4px;
    margin-top: -4px;
    margin-left: 1em;
    vertical-align: middle;
}

.timing th {
    color: #666666
}
.timing td,
.timing th {
    border-left: 1px solid #C8CACA;
    padding: .2em;
    background-color: #DDDDDD;
}

.timing td {
    border-top: 1px solid #C8CACA;
    text-align: right;
    background-color: white;
}

.timing td.danger {
    background-color: red;
    color: white;
}

.timing td.success {
    background-color: #75AD0A;
    color: white;
}

.timing td.warning {
    background-color: yellow;
}

.timing td.estimate {
    width: 55px;
}
.timing td.actual_hours {
    width: 85px;
    text-align: right;
}
.timing td.difference {
    width: 65px;
}

.totals {
    margin-top: 1em;
}
.totals .timing {
    margin-right: 0px;
    margin-top: 0px;
}

.totals-label {
    vertical-align: bottom
}

.assignees-container .assignees {
    display: inline
}

.assignees-container .assignees li {
    display:inline !important;
    margin-right: .5em;
}


#content ul.assignees {
    list-style-type: none;
    margin-left: 0;
}

.extra-details {
    margin-top: 1em;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


ul.stories .actions {
    float: right;
    margin: .5em 0 0;
}

.story-container.copy {
    cursor: copy;
}

#content a.status,
#content a.quickedit,
#content a.story-quickview {
    background: transparent url('pencil.png') no-repeat;
    border: 0 none !important;
    display: block;
    float: left;
    height: 16px;
    margin-left: 0.3em;
    overflow: hidden;
    width: 16px;
}

.template-quickedit #portal-column-content {
    margin-left: -98.875%;
    width: 96.75%;
    padding: .5em;
}

#content a.story-quickview {
    background-image: url('magnifier.png');
}


#content a.status {
    background-image: url('tag_red.png');
}

#content a.status span,
#content a.story-quickview span,
#content a.quickedit span {
    padding: 20px;
}

.story-text {
    margin: .6em 0;
}
.stories dl.collapsible {
    border: 1px solid #ddd;
}

.booking .listing dl.collapsible {
    border:0 !important;
}

.stories dl.collapsedBlockCollapsible {
    border:0;
    background-color: transparent;
}

.booking-details {
    width: 350px;
}

.booking .listing dl.collapsible dd.collapsibleContent,
.stories dl.collapsible dd.collapsibleContent {
    margin:0 !important;
}

.booking .listing dl.collapsible dt.collapsibleHeader {
    background-color: transparent;
    margin-left: 0;
}

.stories dl.collapsible dt.collapsibleHeader {
    margin-left: 0;

}

.comments-container {
    margin-bottom: 1em;
}
.comments-container .comment {
    font-size: 100%;
    margin-top: .5em;
    border: 1px solid #ddd;
}

.comment-autor {
    float: left;
    margin: 4px;
    padding: 4px;
    width: 100px;
}

.comment-text {
    margin-left: 120px;
    padding: 4px;
    border-left: 1px solid #ddd;
    min-height: 50px;
}

.tooltip {
    display: none;
    background: white;
    border: 1px solid #bbb;
    padding: 0.2em;
    box-shadow: 0 0 0.7em #777;
    font-size: 85%;
}

.tooltip .wrapper {
    position: relative;
}

.tooltip .wrapper .notch {
    position: absolute;
    top: -0.64em;
    right: 2em;
    margin: 0;
    border-top: 0;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-bottom: 0.5em solid white;
    padding: 0;
    width: 0;
    height: 0;
}

.tooltip .wrapper .notch-bottom {
    position: absolute;
    bottom: -1em;
    right: 1em;
    margin: 0;
    border-top: 0.5em solid white;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-bottom: 0.5em solid transparent;
    padding: 0;
    width: 0;
    height: 0;
}

.tooltip .wrapper .notch-right {
    position: absolute;
    right: -33px;
    top: -12px;
    border-left: 0.5em solid white;
    border-right: 0.5em solid transparent;
    border-top: 0.5em solid transparent;
    border-bottom: 0.5em solid transparent;
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
}

.tooltip a {
    padding: 0 .2em;
    line-height: 25px;
}

.tooltip .disable {
    color: #dddddd;
}

#dashboard ul.details {
    font-size: 85%;
    list-style-type: none;
    margin:0;
}

.more-tasks {
    float: right;
    margin: 1em .2em 0 0;
}

.simplemanagement-planner ul.sortable {
    min-height: 15px;
}

.link-parent.visualNoPrint {
    float: right;
}

table.stories {
    width: 100%;
}

table.stories caption {
    font-size: 130%;
    font-weight: bold;
    margin-bottom: 0.2em;
    text-align: left;
}

table.stories tfoot td {
    font-size: 110%;
    background-color: #DDDDDD;
}

td.numeric-data {
    text-align: right;
}

table.stories tbody tr td.numeric-data {
    width: 3em;
}

table.stories tbody tr td.info {
    width: 7em;
}

table.stories tbody tr td.actions {
    width: 65px;
}

table.stories tbody tr td.quick-booking {
    width: 80px;
}


#tickets-listing tbody tr.ticket td.handle,
table.stories tbody tr.story td.handle {
    width: .5em;
    padding: 0.8em .4em 0 .4em;
    border: 2px solid white;
    border-width: 2px 0;
    font-size: 50%
}

table.stories tbody tr.story td.handle.todo {
    background-color: #444444;
    color: #444444;
}

table.stories tbody tr.story td.handle.done {
    background-color: #8DC73E;
    color: #8DC73E;
}

table.stories tbody tr.story td.handle.in_progress {
    background-color: #448CCA;
    color: #448CCA;
}

table.stories tbody tr.story td.handle.suspended {
    background-color: #FF7F0E;
    color: #FF7F0E;
}

table.stories.sortable tbody tr.story td.handle.todo {
    color: #FFFFFF;
}

table.stories.sortable tbody tr.story td.handle.done {
    color: #FFFFFF;
}

table.stories.sortable tbody tr.story td.handle.in_progress {
    color: #FFFFFF;
}

table.stories.sortable tbody tr.story td.handle.suspended {
    color: #FFFFFF;
}

table.stories td.data.danger,
table.stories td.data.success,
table.stories td.data.warning {
    font-weight: bold;
}

table.stories td.data.danger {
    color: #ff4420;
}

table.stories td.data.success {
    color: #75AD0A;
}

table.stories td.data.warning {
    color: #f17e03;
}

#booking-tooltip-form {
    display: none;
}
.template-dashboard #missed-bookings{
    overflow: hidden;
    width: 826px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.template-dashboard #missed-bookings .booking-hole{
    font-size:120%;
}
.template-dashboard #missed-bookings .booking-hole .booking-date{
    font-weight: bold;
}
.template-dashboard #missed-bookings .booking-hole *{
    vertical-align: middle;
}
/*.template-dashboard #missed-bookings{
    overflow: hidden;
    width: 50%;
}*/
.alert-top{
    border: 2px solid #00008D;
    border-radius: 10px;
    padding: 10px;
}
.alert-top h2{
    color:white;
    background-color: #FF7700;
    border-radius: 10px;
    padding: 5px 10px;
}

.claim{
    font-weight: bold;
    padding: 5px 10px;
}

#worklog {
    margin: 20px;
}

#worklog > * {
    opacity: 0;
}

#worklog .resources {
    background: #ddd;
    margin: 10px 0px;
    padding: 20px;
    border-radius: 3px;
}

#worklog .resources ul {
    list-style-type: none;
}

#worklog .resources ul li label img {
    height: 24px;
}

#worklog .calendar {
    position: relative;
}

#worklog .calendar a.previous,
#worklog .calendar a.next {
    text-indent: -10000em;
    overflow: hidden;
    height: 1em;
    width: 1em;
    display: inline-block;
    text-decoration: none;
}

#worklog .calendar a.previous {
    background: url('./go-previous.png')  2px 4px no-repeat;
}

#worklog .calendar a.next {
    background: url('./go-next.png') 2px 4px no-repeat;
}

#worklog .calendar table {
    width: 100%;
    margin-top: 7px;
}

#worklog .calendar table td.resource-info img {
    height: 24px;
}

#worklog .calendar table tr.week-start {
    border-top: 1px solid #ccc;
}

.tooltip .booking-details {
    width: 20em;
}

.tooltip .booking-details table {
    width: 100%;
}

.tooltip.booking-form {
    padding: 1.5em;
}

.no-data {
    display: none
}

table#tickets-listing {
    border-collapse: separate;
}
.severity-Low {
    border-left: 8px solid green;
}
.severity-Medium {
    border-left: 8px solid orange;
}
.severity-Critical {
    border-left: 8px solid red;
}
.severity-Important {
    border-left: 8px solid orange;
}

.state-unconfirmed {
    color: red;
}
.state-in-progress {
    color: orange;
}
.state-open {
    color: orange;
}

/* Add story form */
#addstory-container h3 a {
    background: url("./spindown-closed.gif") no-repeat scroll 0 50% transparent;
    padding-left: 1em;
}

#addstory-container h3 a.open {
    background-image: url('./spindown-open.gif');
}

#addstory-form {
    padding: 1em 1em 0 1em;
    border: 1px solid #dddddd;
    margin: 0 0 1em 0;
}


#addstory-form #formfield-form-widgets-estimate,
#addstory-form #formfield-form-widgets-assigned_to,
#addstory-form #formfield-form-widgets-description,
#addstory-form #formfield-form-widgets-title {
 clear: none;
 width: 40%;
 float: left;

}
#addstory-form #formfield-form-widgets-description,
#addstory-form #formfield-form-widgets-assigned_to {
    margin-top: 1.5em;
}

#addstory-form .field textarea[name$=".description"],
#addstory-form .field input[type="text"][name$=".title"] {
    font-size: 100% !important;
    font-weight: normal;
}

#addstory-form #formfield-form-widgets-description {
    clear: left;
}

#addstory-form  .field {
    margin: 0 1em;
}

#addstory-form #formfield-form-widgets-assigned_to .token-input-list-facebook {
    clear: none;
}

#addstory-form  div.formControls {
    clear: both;
    padding-top: 1em;
}
