#project-view {margin-top: 1em}

#project-iterations h2 {
  padding: .1em 0 .1em 1em;
  font-size: 120%;
  border-bottom: 1px solid #ccc;
  border-top:1px solid white;
  background: #eeeeee; /* Old browsers */
}

.pane {
  padding: 1em;
}

#overview .panes {
  clear: both;
  height: 220px;
  overflow: hidden;
}

#overview .panes > div {
  border-color: #C8CACA;
  border-style: solid;
  border-width: 0 1px 1px;
  display: none;
  height: 180px;
  padding: 15px 20px;
  overflow-y: auto;
}


#overview ul.tabs li {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#overview ul.tabs a:hover {
  color: black !important;
}

#overview ul.tabs a {
    background-color: #EEEEEE;
    border: 1px solid #C8CACA;
    border-width: 1px 1px 0;
    color: #777777;
    display: block;
    float: left;
    font-size: 13px;
    height: 18px;
    margin-right: 2px;
    outline: 0 none;
    padding: 5px 30px;
    position: relative;
    text-decoration: none;
    top: 1px;
}

#overview ul.tabs a.current {
    border-bottom: 1px solid white;
    background-color: white;
    color: #000000;
    cursor: default;
}

#overview ul.tabs {
    border-bottom: 1px solid #C8CACA;
    height: 30px;
    margin: 0 !important;
    padding: 0;
}


#overview {
  margin: 1em 0;
}

.project-details {
  float: left;
  width: 49%;
}

#iteration-dates {
  font-size: 125%;
}

#content-core table.listing {
  margin-bottom: 1em;
}

/* Booking form */
.booking {
  margin-top: 1em;
}

.booking .listing{
   font-size: 85%;
   width: 100%;
}

.booking .listing h4 {
  font-size: 110%;
}

.booking .listing .discreet {
  font-size: 100%
}

#booking-form {
  margin-top: 1em;
}

#booking-form label,
#booking-form .field {
  float: left;
  clear: none;
  margin-right: 1em;
}

#booking-form .fieldErrorBox {
  display: inline;
}


#booking-form .field input[type="text"][name$=".title"],
#content #booking-form input.text-widget {
  line-height: 100%;
  font-size: 100%;
  width: 30em;
}

#content #booking-form input#form-widgets-time {
  width: 30px;
}

#content ul.stories {
  margin: 1.3em 0 0;
  list-style-type: none;
}

.story-container {
  border-bottom: 1px solid #E1E1E1;
  border-right: 1px solid #E1E1E1;
  border-top: 1px solid #E1E1E1;
  list-style-type: none;
  margin: 0 0 5px;
  min-height: 33px;
  padding: 3px 3px 3px 10px;
  position: relative;
  display: list-item;
}

.portaltype-iteration .sortable .story-container {
  cursor: move;
}

.story-container > div {
  cursor: default;
  background-color: white;
}

.todo {
  border-left: 6px solid #444444;
}

.done {
  border-left: 6px solid #8DC73E;
}

.in_progress {
  border-left: 6px solid #448CCA;
}

.suspended {
  border-left: 6px solid #FF7F0E;
}

.ui-sortable-placeholder {
  border: 1px dotted black !important;
  visibility: visible !important;
  height: 20px !important;
  background-color: #FEF9DD;
}

.ui-sortable-placeholder * {
  visibility: hidden;
}


.portaltype-story .timing {
  border: 1px solid #C8CACA;
}
.timing {
  border: 1px solid #C8CACA;
  float: right;
  margin-right: -4px;
  margin-top: -4px;
  margin-left: 1em;
  vertical-align: middle;
}

.timing th {
  color: #666666
}
.timing td,
.timing th {
  border-left: 1px solid #C8CACA;
  padding: .2em;
  background-color: #DDDDDD;
}

.timing td {
  border-top: 1px solid #C8CACA;
  text-align: right;
  background-color: white;
}

/* timing status */
td.danger {
  background-color: red;
  color: white;
}

td.success {
  background-color: #75AD0A;
  color: white;
}

td.warning {
  background-color: yellow;
}

td.estimate {
  width: 55px;
}
td.actual_hours {
  width: 85px;
  text-align: right;
}
td.difference {
  width: 65px;
}

.totals {
  margin-top: 1em;
}
.totals .timing {
  margin-right: 0px;
  margin-top: 0px;
}

.totals-label {
  vertical-align: bottom
}

.assignees-container .assignees {
  display: inline
}

.assignees-container .assignees li {
  display:inline !important;
  margin-right: .5em;
}


#content ul.assignees {
  list-style-type: none;
  margin-left: 0;
}

.extra-details {
  margin-top: 1em;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


.actions {
  float: right;
  margin: .5em 0 0;
}

.story-container.copy .story-block {
    background: transparent url('editcopy.png') top right no-repeat;
}

#content a.status,
#content a.quickedit,
#content a.story-quickview {
  background: transparent url('pencil.png') no-repeat;
  border: 0 none !important;
  display: block;
  float: left;
  height: 16px;
  margin-left: 0.3em;
  overflow: hidden;
  width: 16px;
}

.template-quickedit #portal-column-content {
  margin-left: -98.875%;
  width: 96.75%;
  padding: .5em;
}

#content a.story-quickview {
  background-image: url('magnifier.png');
}

/*#dashboard a.story-quickview {
  margin: 5px 5px 0 0;
}*/

#content a.status {
  background-image: url('tag_red.png');
}

#content a.status span,
#content a.story-quickview span,
#content a.quickedit span {
  padding: 20px;
}

.story-text {
  margin: .6em 0;
}
.stories dl.collapsible {
  border: 1px solid #ddd;
}

.booking .listing dl.collapsible {
  border:0 !important;
}

.stories dl.collapsedBlockCollapsible {
  border:0;
  background-color: transparent;
}

.booking-details {
  width: 350px;
}

.booking .listing dl.collapsible dd.collapsibleContent,
.stories dl.collapsible dd.collapsibleContent {
  margin:0 !important;
}

.booking .listing dl.collapsible dt.collapsibleHeader {
  background-color: transparent;
  margin-left: 0;
}

.stories dl.collapsible dt.collapsibleHeader {
  margin-left: 0;

}

/* comments */
.comments-container {
  margin-bottom: 1em;
}
.comments-container .comment {
  font-size: 100%;
  margin-top: .5em;
  border: 1px solid #ddd;
}

.comment-autor {
  float: left;
  margin: 4px;
  padding: 4px;
  width: 100px;
}

.comment-text {
    margin-left: 120px;
    padding: 4px;
    border-left: 1px solid #ddd;
    min-height: 50px;
}

#addstory-container h3 a {
  background: url("./spindown-closed.gif") no-repeat scroll 0 50% transparent;
  padding-left: 1em;
}

#addstory-container h3 a.open {
  background-image: url('./spindown-open.gif');
}

#addstory-form {
  padding: 1em;
  border: 1px solid #dddddd;
}

.tooltip {
  display:none;
  background: white;
  border: 1px solid #dddddd;
  border-radius: 5px;
  height: 25px;
  width: 220px;
  padding: .2em .5em;
  font-size: 85%;
}

.tooltip a {
  padding: 0 .2em;
  line-height: 25px;
}

.tooltip .disable {
  color: #dddddd;
}

#dashboard ul.details {
  font-size: 85%;
  list-style-type: none;
  margin:0;
}

.more-tasks {
  float: right;
  margin: 1em .2em 0 0;
}

.simplemanagement-planner ul.sortable {
  min-height: 15px;
}